<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.DishMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into dish(name, category_id, price, image, description, status, create_time, update_time, create_user, update_user)
        values (#{name}, #{categoryId}, #{price}, #{image}, #{description}, #{status}, #{createTime}, #{updateTime}, #{createUser}, #{updateUser})
    </insert>

    <update id="update">
        update  dish
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="image != null">
                image = #{image},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser}
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteBatch">
        delete from dish where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <select id="pageQuery" resultType="com.sky.vo.DishVO">
        select dish.id,dish.name,dish.category_id,dish.price,dish.image,dish.description,dish.status,dish.update_time, category.name as categoryName
            from dish
            left join category on dish.category_id = category.id
        <where>
            <if test="name != null and name != ''">
                dish.name like concat('%',#{name},'%')
            </if>
            <if test="categoryId != null">
                and dish.category_id = #{categoryId}
            </if>
            <if test="status != null">
                and dish.status = #{status}
            </if>
        </where>
        order by price asc
    </select>

    <select id="getByName" resultType="com.sky.entity.Dish">
        select * from dish where name = #{name}
    </select>

    <select id="selectByIdList" resultType="com.sky.entity.Dish">
        select * from dish where id in
            <foreach collection="ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
    </select>
    <select id="selectById" resultType="com.sky.entity.Dish">
        select * from dish where id = #{id}
    </select>
    <select id="selectByCotegoryId" resultType="com.sky.entity.Dish">
        select * from dish where category_id = #{categoryId}
    </select>

    <!--首先根据菜品id查询所有-->
    <select id="selectBySetMealId" resultType="com.sky.entity.Dish">
        select dish.id, dish.name,dish.category_id, dish.price, dish.image, dish.description, dish.status, dish.update_time,dish.create_time, dish.update_user, dish.create_user
        from dish
        inner join setmeal_dish on dish.id = setmeal_dish.dish_id
        inner join setmeal on setmeal.id = setmeal_dish.setmeal_id
        where setmeal_dish.setmeal_id = #{id}
    </select>


    <resultMap id="selectDishVoByCotegoryIdReslutMap" type="com.sky.vo.DishVO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="categoryId" column="category_id"/>
        <result property="price" column="price"/>
        <result property="image" column="image"/>
        <result property="description" column="description"/>
        <result property="status" column="status"/>
        <result property="updateTime" column="update_time"/>
        <result property="categoryName" column="categoryName"/>
        <collection property="flavors" ofType="com.sky.entity.DishFlavor">
            <id property="id" column="flavorId"/>
            <result property="name" column="flavorName"/>
            <result property="value" column="flavorValue"/>
            <result property="dishId" column="dishId"/>
        </collection>
    </resultMap>

    <select id="selectEnableDishVoByCotegoryId" resultMap="selectDishVoByCotegoryIdReslutMap">
        select dish.id,
               dish.name,
               dish.category_id,
               dish.price,
               dish.image,
               dish.description,
               dish.status,
               dish.update_time,
               category.name as categoryName,
               dish_flavor.id as flavorId,
               dish_flavor.name as flavorName,
               dish_flavor.value as flavorValue,
               dish.id as dishId
        from dish
                 left join category on dish.category_id = category.id
                 left join dish_flavor on dish.id = dish_flavor.dish_id
        where dish.category_id = #{categoryId} and dish.status = 1
    </select>
</mapper>
